<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="canonical" href="https://k4zy.com/" />
    <link rel="stylesheet" href="https://fonts.xz.style/serve/inter.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css"
    />
    <title>k4zy.com</title>
  </head>
  <body>
    <header>
      <h1>k4zy.com</h1>
      <nav>
        <a href="https://k4zy.com">Home</a> /
        <a href="https://blog.kazy.app/">Hatena Blog</a> /
        <a href="https://twitter.com/_k4zy">Twitter</a> /
        <a href="https://github.com/k4zy">Github</a> /
      </nav>
    </header>
    <h1>${Title}</h1>
  </body>
</html>
